<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEAN</title>
</head>
<body>
    <h1>MEAN APP</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius id modi dolores laboriosam quo, repellendus debitis labore praesentium? Exercitationem porro nostrum id quasi aliquam? Debitis cumque aliquid animi optio provident.</p>
</body>
</html>