<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/home">
      <i class="bi bi-database"></i>      Mi sistema
    </a>
  </div>
</nav>

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">

            <div class="card text-bg-dark ">
                <div class="card-body  text-center">
                    <span class="titulo">
                        Listado de productos
                    </span>
                    <button class="btn btn-success float-end" routerLink="/crear-producto"><i class="bi bi-plus-circle mx-3"></i>Agregar producto</button>

                    <table *ngIf="listProductos.length > 0" class="table table-striped-columns mt-3">
                        <thead>
                            <tr>
                                <th scope="col">Producto</th>
                                <th scope="col">Categoria</th>
                                <th scope="col">Ubicacion</th>
                                <th scope="col">Precio</th>
                                <th scope="col"></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let producto of listProductos">
                                <td>{{ producto['nombre'] }} </td>
                                <td>{{ producto['categoria'] }}</td>
                                <td>{{ producto['ubicacion']}}</td>
                                <td>{{ producto['precio'] | currency: 'USD'}}</td>
                                <td>
                                    <i [routerLink] = "['/editar-producto', producto._id]" class="fa-solid fa-pen-to-square text-primary"></i>
                                    <i (click) = "eliminarProducto(producto._id)"  class="fa-solid fa-trash text-danger"></i>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <div class="row my-4 justify-content-center" *ngIf="listProductos.length == 0">
                        <div class="col-12">
                          <p class="h4">No se han registrado productos aun ...</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
