<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/imgs/literalMe.jpg" alt="Bootstrap" width="30" height="24">
      Mi sistema
    </a>
  </div>
</nav>

<div class="container">

  <div class="row my-4">
    <div class="col-12">
      <div class="card text-bg-dark" >
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>


  <div class="row my-2">
    <div class="col-12">
      <div class="card text-bg-dark text-center">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">

          <div class="row text-center align-items-center justify-content-center">
              <img src="../../../assets/imgs/literalMe.jpg" class="card-img-top" style="max-width: 250px!important; border-radius: 25px!important;" alt="perrito">
              <img src="../../../assets/imgs/literalMe.jpg" class="card-img-top" style="max-width: 250px!important; border-radius: 25px!important;" alt="perrito">
              <img src="../../../assets/imgs/literalMe.jpg" class="card-img-top" style="max-width: 250px!important; border-radius: 25px!important;" alt="perrito">

          </div>
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a routerLink="/" class="btn btn-light">Go somewhere</a>
        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div>
    </div>
  </div>




</div>
